<ion-header [translucent]="true">
  <ion-toolbar color="#1e1e1e">
    <ion-item class="item-background-color ion-text-center" lines="none">
      <ion-label>{{ruta.nombre}}</ion-label>
    </ion-item>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <app-map viewType="view"></app-map>
  <ion-fab slot="fixed" vertical="bottom" horizontal="end">
    <ion-fab-button size="large" color="danger" (click)="cancelarViaje()">
      <ion-icon name="close-sharp"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
