<ion-header [translucent]="true">
  <ion-toolbar color="#1e1e1e">
    <ion-buttons slot="start">
      <ion-button class="round-icon" (click)="salirCuenta()">
        <ion-icon name="power"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-item class="item-background-color" lines="none" [routerLink]="['/perfil-pasajero']" detail="false">
      <ion-label>{{usuario.nombre}} {{usuario.apellido}}</ion-label>
      <ion-button class="round-icon">
        <ion-thumbnail class="userIcon round">
          <img src="{{usuario.imagen}}">
        </ion-thumbnail>
      </ion-button>
    </ion-item>
    <ion-buttons slot="end">
      <ion-button class="round-icon" [routerLink]="['/buzon-pasajero']">
        <ion-icon name="chatbubbles-sharp"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>


<ion-content [fullscreen]="true">
  <ion-content padding class="background">
    <ion-card>
      <ion-card-header>
        <ion-card-title style="color: #1e1e1e;" class="ion-text-center">Viajes</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <ion-list lines="full">

          <ion-item *ngFor="let viaje of viajes" (click)="verViaje(viaje.id)">
            <ion-label style="--padding-start:1rem">{{ viaje.nombre }}</ion-label>
            <ion-label class="ion-text-right">{{ viaje.distancia }} Km / {{ viaje.duracion }} min</ion-label>
          </ion-item>
        </ion-list>
      </ion-card-content>
    </ion-card>
  </ion-content>
</ion-content>
