<ion-header [translucent]="true">
  <ion-toolbar color="#1e1e1e">
    <ion-buttons slot="start">
      <ion-button class="round-icon" (click)="salirCuenta()">
        <ion-icon name="power"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-item class="item-background-color" lines="none" [routerLink]="['/perfil-pasajero']" detail="false">
      <ion-label>{{usuario.nombre}}</ion-label>
      <ion-button class="round-icon">
        <ion-thumbnail class="userIcon">
          <img src="../assets/icon/{{usuario.imagen}}">
        </ion-thumbnail>
      </ion-button>
    </ion-item>
    <ion-buttons slot="end">
      <ion-button class="round-icon" [routerLink]="['/buzon-pasajero']">
        <ion-icon name="chatbubbles-sharp"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true" padding class="background">
  <ion-card>
    <ion-card-header>
      <ion-card-title style="color: #1e1e1e;" class="ion-text-center">Rutas</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-list lines="full">
        <!-- esta lista debe tener una altura fija, cosa que el botón de "añadir ruta"
          salga al fondo de la pagina siempre-->
        <ion-item *ngFor="let ruta of rutas" (click)="verRuta(ruta.id)">
          <ion-label style="--padding-start:1rem">{{ruta.nombre}}</ion-label>
          <ion-label class="ion-text-right">{{ruta.longitud}}Km. / {{ruta.duracion}}Min.</ion-label>
        </ion-item>
      </ion-list>
      
    </ion-card-content>
  </ion-card>
</ion-content>
