<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-item class="ion-text-right" [routerLink]="['/perfil-conductor']">
      <ion-label>{{usuario.nombre}} {{usuario.apellido}}</ion-label>
      <ion-thumbnail class="userIcon round">
        <img src="{{usuario.imagen}}">
      </ion-thumbnail>
    </ion-item>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <ion-card-header>
      <ion-card-title class="ion-text-center">Rutas</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-list>
        <!-- esta lista debe tener una altura fija, cosa que el botón de "añadir ruta"
          salga al fondo de la pagina siempre-->
        <ion-item *ngFor="let ruta of rutas" (click)="editarRuta(ruta.id)">
          <ion-label>{{ruta.nombre}}</ion-label>
          <ion-label class="ion-text-right">{{ruta.longitud}}Km / {{ruta.duracion}}min</ion-label>
        </ion-item>
      </ion-list>
      <ion-button expand="block" (click)="crearRuta()">Añadir ruta</ion-button>
    </ion-card-content>
  </ion-card>
</ion-content>
