<ion-header [translucent]="true">
  <ion-toolbar color="#1e1e1e">
    <ion-buttons slot="start">
      <ion-button class="round-icon" (click)="salirCuenta()">
        <ion-icon name="power"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-item class="item-background-color" lines="none" [routerLink]="['/perfil-conductor']" detail="false">
      <ion-label>{{usuario.nombre}}</ion-label>
      <ion-button class="round-icon">
        <ion-thumbnail class="userIcon">
          <img src="{{usuario.imagen}}">>
        </ion-thumbnail>
      </ion-button>
    </ion-item>
    <ion-buttons slot="end">
      <ion-button class="round-icon" [routerLink]="['/buzon-conductor']">
        <ion-icon name="chatbubbles-sharp"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>



<ion-content [fullscreen]="true" padding class="background">
  <!-- Asegúrate de agregar [(ngModel)]="city" en la etiqueta ion-input -->
<ion-item>
  <ion-label position="floating">Ciudad</ion-label>
  <ion-input [(ngModel)]="city"></ion-input>
</ion-item>

<!-- Asegúrate de pasar el valor de city a la función getWeather al hacer clic -->

<div style="text-align: center;"><ion-button style="display:inline-block;margin:1rem" expand="block" size="large" expand="full" (click)="getWeather(city)">Obtener Clima</ion-button></div>

<ion-card *ngIf="weatherData">
  <ion-card-header>
    {{ weatherData.name }}
  </ion-card-header>
  <ion-card-content>
    Temperatura: {{ weatherData.main.temp }}°K
  </ion-card-content>
</ion-card>



<ion-content [fullscreen]="true" padding class="background">
  <ion-card style="margin-bottom:94px">
    <ion-card-header>
      <ion-card-title style="color: #1e1e1e;" class="ion-text-center">Rutas</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-list lines="full">
        <!-- esta lista debe tener una altura fija, cosa que el botón de "añadir ruta"
          salga al fondo de la pagina siempre-->
        <ion-item *ngFor="let ruta of rutas" (click)="verRuta(ruta.id_ruta)">
          <ion-label style="--padding-start:1rem;overflow:scroll;white-space:nowrap">
            <div>{{ruta.origen}}</div>
            <div>→ {{ruta.destino}}</div>
          </ion-label>
          <ion-label class="ion-text-right" style="max-width:70px">{{ruta.hora_salida}}</ion-label>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>
</ion-content>

<ion-footer class="footer" style="background:#fff">
  <div style="text-align: center;"><ion-button style="display:inline-block;margin:1rem" expand="block" size="large" (click)="crearRuta()">Añadir Ruta</ion-button></div>
</ion-footer>
