ion-thumbnail.round{border-radius:50%;overflow:clip}
ion-button .userIcon img{width:auto;max-width:fit-content}
ion-list ion-item:nth-child(2n){--background:#EEEEEE}
ion-footer.tabs ion-grid{padding:0;}
ion-footer.tabs ion-col{padding:0}
ion-footer.tabs ion-item{--padding-start:0;--inner-padding-end:0}
ion-footer.tabs span.tab{display:block;text-align:center;width:100%;padding:1rem;
  font-size:1.2rem;background-color:#1e1e1e;color:white}
ion-footer.tabs span.tab.active{background-color:#2e2e2e;}


ion-content.background{
    --background: url(/assets/fondo.jpg) 0 0/100% 100% no-repeat;
  }
  ion-toolbar{
    color: #1e1e1e;
    background-color: #1e1e1e;
  }

  ion-item {
    color: #1e1e1e;
    background-color: #1e1e1e;
  }

.item-background-color{
    --ion-item-background:#1e1e1e;
    color:white;
    text-align: right;
}

ion-button {
    border-radius: 10px;
    background-color: #1e1e1e;;
    color: white;
    width: 80%;
    height: 50px;
  }
  
ion-content.background{
    --background: url(/assets/fondo.jpg) 0 0/100% 100% no-repeat;
  }
