<ion-header [translucent]="true">
  <ion-toolbar color="#1e1e1e">
    <ion-buttons slot="start">
      <ion-back-button style="color: white;" defaultHref="/home" text="Volver"></ion-back-button>
    </ion-buttons>
     <!--la nueva clase se llama item-background-color, tiene toda las propiedades scss necesarias -->
    <ion-item class="item-background-color" [routerLink]="['/perfil-conductor']">
      <ion-label>{{usuario.nombre}} {{usuario.apellido}}</ion-label>
      <ion-thumbnail class="userIcon round">
        <img src="{{usuario.imagen}}">
      </ion-thumbnail>
    </ion-item>
  
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-content padding class="background">
  <ion-card>
    <ion-card-header>
      <ion-card-title style="color: #1e1e1e;" class="ion-text-center">Rutas</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-list lines="full">
        <!-- esta lista debe tener una altura fija, cosa que el botón de "añadir ruta"
          salga al fondo de la pagina siempre-->
        <ion-item *ngFor="let ruta of rutas" (click)="verRuta(ruta.id)">
          <ion-label style="--padding-start:1rem">{{ruta.nombre}}</ion-label>
          <ion-label class="ion-text-right">{{ruta.longitud}}Km / {{ruta.duracion}}min</ion-label>
        </ion-item>
      </ion-list>
      <div style="text-align: center;"><ion-button color="grey" (click)="crearRuta()">Añadir Ruta</ion-button></div>
    </ion-card-content>
  </ion-card>
</ion-content>
