<ion-header>
  <ion-toolbar color="#1e1e1e">
    <ion-buttons slot="start">
      <ion-back-button style="color: white;" defaultHref="/home" text="Volver"></ion-back-button>
    </ion-buttons>
    <ion-title style=" color: white;">Registro de Conductor</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content>
  <ion-content padding class="background">
  <ion-card-content style="margin-top: 2rem;">
    <div style="text-align: center;">
      <ion-card-content style="margin-top: 1rem; background-color: white;">
        <div style="text-align: center;"><ion-text style="font-size: 20px; font-weight: bold; color:#1e1e1e;;">Crea tu cuenta como Conductor</ion-text></div>
      </ion-card-content>
    </div>
  </ion-card-content>
  <ion-card-content style="margin-top: 1rem;">
    <ion-card-content style="margin-top: -2rem; background-color: white ;">

      <ion-label position="floating">Nombre Completo</ion-label>
      <ion-input placeholder="Nombre completo" type="text" required></ion-input>

      <ion-label position="floating">Correo</ion-label>
      <ion-input type="email" placeholder="Correo electrónico" required></ion-input>

      <ion-label position="">Nacimiento</ion-label>
      <ion-input type="date" required></ion-input>

      <ion-label position="floating">RUT</ion-label>
      <ion-input type="text"placeholder="000.000.000-0" required></ion-input>

      <ion-label position="floating">Número de Documento</ion-label>
      <ion-input type="text" required placeholder="Número de Documento"></ion-input>

      <ion-label position="floating">Contraseña</ion-label>
      <ion-input type="password"placeholder="Contraseña" required></ion-input>

      <ion-label position="floating">Repetir Contraseña</ion-label>
      <ion-input type="password" placeholder="Repetir contraseña"required></ion-input>  


      <ion-label position="floating">Elija su género: </ion-label>
      <br>
      <mat-radio-group aria-label="Select an option">
        <mat-radio-button value="1">Femenino</mat-radio-button>
        <mat-radio-button value="2">Masculino</mat-radio-button>
      </mat-radio-group>





    </ion-card-content>


    <div style="text-align: center;">
    <ion-card-content style="margin-top: 20px; background-color: white;">
      <ion-text style="text-align: center;font-size: 12px; color: var(--ion-color-medium)">Al hacer clic en "Registrarse", aceptas nuestra <a href="#">Política de Privacidad</a> y nuestros <a href="#">Términos y Condiciones</a>.</ion-text>
    </ion-card-content>
    </div>
    <div style="text-align: center;">
      <br>
      <div style="text-align: center;"><ion-button color="grey">Registrarse como conductor.</ion-button></div>
    </div>
  </ion-card-content>

</ion-content>


