.mensaje{display:inline-block;border-radius:15px;padding:0.75rem;color:#222;}
.enviado{text-align:right;}
.enviado span{background-color:#eee;border-bottom-right-radius: 0;}
.recibido{text-align:left;}
.recibido span{background-color:#ddd;border-top-left-radius: 0;}