<ion-header [translucent]="true">
  <ion-toolbar color="#1e1e1e">
    <ion-buttons slot="start">
      <ion-back-button style="color: white;" defaultHref="/inicio-conductor" text="Volver"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="background">
  <ion-card>
    <ion-card-header>
      <ion-card-title class="ion-text-center">
        <ion-thumbnail id="perfil-imagen"><img [src]="usuario.imagen"></ion-thumbnail>
        <ion-label>{{usuario.nombre}}</ion-label><br>
        <ion-label>{{usuario.correo}}</ion-label><br>
        <ion-label>{{usuario.numero_cel}}</ion-label>
      </ion-card-title>
    </ion-card-header>
    <ion-card-content>

      <ion-list>
        <ion-item>
          <ion-label position="floating">Nombre</ion-label>
          <ion-input [(ngModel)]="usuario.nombre" type="text"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Correo</ion-label>
          <ion-input [(ngModel)]="usuario.correo" type="email"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Número de Celular</ion-label>
          <ion-input [(ngModel)]="usuario.numero_cel" type="tel"></ion-input>
        </ion-item>
      </ion-list>
      <ion-button expand="full" (click)="guardarCambios()">Guardar Cambios</ion-button>
    </ion-card-content>
  </ion-card>
</ion-content>
