<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/inicio-conductor" text="Volver"></ion-back-button>
    </ion-buttons>
    <ion-title>Perfil</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <ion-card-header>
      <ion-card-title class="ion-text-center">
        <ion-thumbnail id="perfil-imagen" (click)="editarImagenPerfil()"><img src="{{usuario.imagen}}"></ion-thumbnail>
        <ion-label>{{usuario.nombre}} {{usuario.apellido}}</ion-label>
      </ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-item>
        <ion-label position="floating">Nombre</ion-label>
        <ion-input type="text" required [value]="usuario.nombre"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Apellido</ion-label>
        <ion-input type="text" required [value]="usuario.apellido"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Patente de mi Vehículo</ion-label>
        <ion-input type="text" required [value]="usuario.patente"></ion-input>
      </ion-item>
      <ion-button expand="block" (click)="actualizarDatos()">Actualizar datos</ion-button>
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-header>
      <ion-card-title class="ion-text-center">Seguridad</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-item>
        <ion-label position="floating">Contraseña</ion-label>
        <ion-input type="password" required></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Repetir Contraseña</ion-label>
        <ion-input type="password" required></ion-input>
      </ion-item>
      <ion-button expand="block" (click)="actualizarContrasena()">Actualizar contraseña</ion-button>
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-content class="ion-text-center">
      <ion-button (click)="eliminarCuenta()">Eliminar cuenta</ion-button>
    </ion-card-content>
  </ion-card>
</ion-content>
