<ion-header [translucent]="true">
  <ion-toolbar color="#1e1e1e">
    <ion-buttons slot="start">
      <ion-back-button style="color: white;" defaultHref="/inicio-pasajero" text="Volver"></ion-back-button> <!-- Cambio de nombre aquí -->
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-content padding class="background">

  <ion-card>
    <ion-card-header>
      <ion-card-title class="ion-text-center">
        <ion-thumbnail id="perfil-imagen" (click)="editarImagenPerfil()"><img src="{{usuario.imagen}}"></ion-thumbnail>
        <ion-label>{{usuario.nombre}} {{usuario.apellido}}</ion-label>
      </ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <form (ngSubmit)="actualizarDatos()" [formGroup]="formDatos">
        <ion-item>
          <ion-label position="floating">Nombre</ion-label>
          <ion-input formControlName="nombre" type="text" [(ngModel)]="usuario.nombre" required (input)="validarNombre()"></ion-input>
        </ion-item>
          <div class="formErrorMessage" *ngIf="formErrors['nombre_empty']">Este campo es obligatorio</div>
        <ion-item>
          <ion-label position="floating">Apellido</ion-label>
          <ion-input formControlName="apellido" type="text" [(ngModel)]="usuario.apellido" required (input)="validarApellido()"></ion-input>
        </ion-item>
          <div class="formErrorMessage" *ngIf="formErrors['apellido_empty']">Este campo es obligatorio</div>
        <ion-item>
        </ion-item>
        <div class="formErrorMessage" *ngIf="formErrors['patente_empty']">Este campo es obligatorio</div>
        <div class="formErrorMessage" *ngIf="!formErrors['patente_empty'] && formErrors['patente_invalid']">Patente inválida</div>
        <div style="text-align: center;"><ion-button type="submit" color="grey">Actualizar datos</ion-button></div>
      </form>
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-header>
      <ion-card-title class="ion-text-center">Seguridad</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-item>
        <ion-label position="floating">Contraseña</ion-label>
        <ion-input [(ngModel)]="newPassA" type="password" required (input)="validarContraA()"></ion-input>
      </ion-item>
        <div class="formErrorMessage" *ngIf="formErrors['passA_empty']">Este campo es obligatorio</div>
        <div class="formErrorMessage" *ngIf="formErrors['passA_short']">Contraseña demasiado corta</div>
        <div class="formErrorMessage" *ngIf="formErrors['passA_long']">Contraseña demasiado larga</div>
        <div class="formErrorMessage" *ngIf="formErrors['passA_number']">Incluya un dígito numérico</div>
        <div class="formErrorMessage" *ngIf="formErrors['passA_upper']">Incluya una letra mayúscula</div>
        <div class="formErrorMessage" *ngIf="formErrors['passA_special']">Incluya un caracter especial</div>
      <ion-item>
        <ion-label position="floating">Repetir Contraseña</ion-label>
        <ion-input [(ngModel)]="newPassB" type="password" required (input)="validarContraB()"></ion-input>
      </ion-item>
        <div class="formErrorMessage" *ngIf="formErrors['passB_empty']">Este campo es obligatorio</div>
        <div class="formErrorMessage" *ngIf="formErrors['passB_match']">Las contraseñas no coinciden</div>
      <div style="text-align: center;"><ion-button color="grey" (click)="actualizarContrasena()">Actualizar contraseña</ion-button></div>
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-content class="ion-text-center">
      <div style="text-align: center;"><ion-button color="grey" (click)="eliminarCuenta()">Eliminar cuenta</ion-button></div>
    </ion-card-content>
  </ion-card>
</ion-content>
