<ion-header [translucent]="true">
  <ion-toolbar color="#1e1e1e">
    <ion-buttons slot="start">
      <ion-back-button style="color: white;" defaultHref="/inicio-pasajero" text="Volver"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-content padding class="background">

    <ion-card>
      <ion-card-header>
        <ion-card-title class="ion-text-center">
          <ion-thumbnail id="perfil-imagen" (click)="editarImagenPerfil()"><img [src]="usuario.imagen"></ion-thumbnail>
          <ion-label>{{usuario.nombre}} {{usuario.apellido}}</ion-label>
        </ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <ion-item>
          <ion-label position="floating">Nombre</ion-label>
          <ion-input type="text" required [value]="usuario.nombre"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Apellido</ion-label>
          <ion-input type="text" required [value]="usuario.apellido"></ion-input>
        </ion-item>
        <ion-item style="margin-top: 20px;"> <!-- Mayor separación vertical -->
          <ion-label position="floating" style="color: grey;">Información adicional del pasajero</ion-label>
          <ion-textarea rows="3" required>{{usuario.informacionAdicional}}</ion-textarea>
        </ion-item>
        <div style="text-align: center;"><ion-button color="grey" (click)="actualizarDatos()">Actualizar datos</ion-button></div>
      </ion-card-content>
    </ion-card>
    <ion-card>
      <ion-card-header>
        <ion-card-title class="ion-text-center">Seguridad</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <ion-item>
          <ion-label position="floating">Contraseña actual</ion-label>
          <ion-input type="password" required></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Nueva contraseña</ion-label>
          <ion-input type="password" required></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Repetir nueva contraseña</ion-label>
          <ion-input type="password" required></ion-input>
        </ion-item>
        <div style="text-align: center;"><ion-button color="grey" (click)="actualizarContrasena()">Actualizar contraseña</ion-button></div>
      </ion-card-content>
    </ion-card>
    <ion-card>
      <ion-card-content class="ion-text-center">
        <div style="text-align: center;"><ion-button color="grey" (click)="eliminarCuenta()">Eliminar cuenta</ion-button></div>
      </ion-card-content>
    </ion-card>
  </ion-content>
</ion-content>
