#container {
    text-align: center;
  
    position: absolute;
    left: 0;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
  }
  
  #container strong {
    font-size: 20px;
    line-height: 26px;
  }
  
  #container p {
    font-size: 16px;
    line-height: 22px;
  
    color: #8c8c8c;
  
    margin: 0;
  }
  
  #container a {
    text-decoration: none;
  }
  div {
    text-align: center;
  }
  ion-button {
    border-radius: 10px;
    background-color: black;
    color: white;
    width: 80%;
    height: 50px;
    
  }

  ion-item {
    border-radius: 10px;
  }
  ion-content.background{
    --background: url(/assets/fondo.jpg) 0 0/100% 100% no-repeat;
  }
  ion-card-content {
    margin: 0;
    padding: 0;
  }


  .center-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Adjust to your desired height */
  }