
<ion-header>
  
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home" text="Volver"></ion-back-button>
    </ion-buttons>
    <ion-title>Menú de Registro</ion-title>
  </ion-toolbar>
</ion-header>



<ion-content padding class="background">

  
 


<ion-card-content style="top: 450px;" >      
  
  
    
  
  <div style="text-align: center;"><ion-button color="grey" [routerLink]="['/registroc']" >Soy conductor.</ion-button></div>
  <div style="text-align: center;"><ion-button color="grey" [routerLink]="['/registrop']" >Soy pasajero.</ion-button></div>


  
  
</ion-card-content>




<ion-card-content style="bottom: -1000px;">   
  <div style="text-align: center;"> <ion-text style="margin-left: auto; margin-right: auto; font-size: 10px; color: white; ">Te LLevo. Marca(no) Registrada 2023-2023</ion-text></div>
</ion-card-content>
</ion-content>


