<ion-header>
  <ion-toolbar color="#1e1e1e">
    <ion-buttons slot="start">
      <ion-back-button style="color: white;" defaultHref="/home" text="Volver"></ion-back-button>
    </ion-buttons>
    <ion-title style=" color: white;">Menú de registro</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content padding class="background">

  <br style = "line-height:100rem;">
  <div class="container custom-spacing">
    <!-- Your content here -->
</div>
<ion-card-content  >      
  
  
    
  <ion-card #card class="transparent-card">
  <div style="text-align: center;"><ion-button [routerLink]="['/registroc']" >Soy conductor</ion-button></div>
  <div style="text-align: center;"><ion-button  [routerLink]="['/registrop']" >Soy pasajero</ion-button></div>
  </ion-card> 

  
  
</ion-card-content>

<div class="container custom-spacing">
  <!-- Your content here -->
</div>
<br>
 
<ion-card class="transparent-card"> 
  <div style="text-align: center;">
<ion-button (click)="play()">Ocultar</ion-button>
<ion-button (click)="stop()">Mostrar</ion-button>
</div>
</ion-card> 


</ion-content>