
<ion-header>
  <ion-toolbar>
    <ion-title>Menú de Registro</ion-title>
  </ion-toolbar>
</ion-header>



<ion-content padding class="background">

  
 


<ion-card-content >      
  
  
    
  
  <div style="text-align: center;"><ion-button color="grey" >Soy conductor.</ion-button></div>
  <div style="text-align: center;"><ion-button color="grey" >Soy pasajero.</ion-button></div>


  
  
</ion-card-content>




<ion-card-content style="bottom: -420px;">   
  <div style="text-align: center;"> <ion-text style="margin-left: auto; margin-right: auto; font-size: 10px; color: white; ">Te LLevo. Marca(no) Registrada 2023-2023</ion-text></div>
</ion-card-content>
</ion-content>


