<ion-header [translucent]="true">
  <ion-toolbar color="#1e1e1e">
    <ion-buttons slot="start">
      <ion-back-button style="color: white;" defaultHref="/home" text="Volver"></ion-back-button>
    </ion-buttons>
    <ion-item class="item-background-color" lines="none">
      <ion-label>Buzón de Mensajes</ion-label>
    </ion-item>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" padding class="background">
  <ion-card>
    <ion-card-content>
      <ion-grid>
        <ion-row *ngFor="let c of chats" class="ion-align-items-center" (click)="abrirMensajes(c.id_pareja)">
          <ion-col size="auto">
            <ion-thumbnail class="user-icon round">
              <img src="../assets/icon/{{c.img_pareja}}">
            </ion-thumbnail>
          </ion-col>
          <ion-col size="auto" class="buzonMensajeContainer">
            <div class="mensajeAutor">{{c.nom_pareja}}</div>
            <div class="mensajeUltimo">{{c.texto}}</div>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card>
</ion-content>