<ion-header>
  <ion-toolbar color="#1e1e1e">
    <ion-buttons slot="start">
    </ion-buttons>
    <ion-title style=" color: white;">Inicio de sesión</ion-title>
  </ion-toolbar>
</ion-header>


  
  <ion-content padding class="background">

    <ion-img src="assets/pepe.png"></ion-img>
    
   

    <ion-card-content style="top: 2 rem;">   
      <div style="text-align: center;"> <ion-text style="margin-left: auto; margin-right: auto; font-size: 50px; font-weight: bold; color: white; ">Te LLevo.</ion-text></div>
    </ion-card-content>

    <ion-card-content style="top: 2rem;">      
    
      <ion-item   > 
    <ion-input type="text" placeholder="Usuario"></ion-input>
    </ion-item>
    
    <br>
    
    <ion-item border-radius="10">
      <ion-input type="password" placeholder="Contraseña"></ion-input>
    </ion-item>
    
    <br>
    
    <div style="text-align: center;"><ion-button color="grey"[routerLink]="['/inicio-conductor']">Iniciar sesión.</ion-button></div>
    <div style="text-align: center;"><ion-button color="grey"[routerLink]="['/menure']">Registrarse.</ion-button></div>


    
    
  </ion-card-content>
  


  
  <ion-card-content style="bottom: -1rem;">   
    <div style="text-align: center;"> <ion-text style="margin-left: auto; margin-right: auto; font-size: 10px; color: white; ">Te LLevo. Marca(no) Registrada 2023-2023</ion-text></div>
  </ion-card-content>
  </ion-content>
  
  
